<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field class="signup-input">
      <input
        matInput
        type="email"
        name="email"
        ngModel
        required
        email
        placeholder="Enter Email"
        #emailInput="ngModel"
      />
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        name="password"
        ngModel
        required
        placeholder="Enter Password"
        #passwordInput="ngModel"
      />
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <button class="signup-button" mat-raised-button color="accent" type="submit">
      Signup
    </button>
  </form>
</mat-card>
