mat-card {
  width: 50%;
  margin: auto;
}

mat-form-field,
input {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

.signup-button {
  margin-top: 1rem;
}

.signup-input {
  margin-bottom: 1rem;
}
