<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        [ngModel]="post?.title"
        required
        placeholder="Post Title"
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="3"
        name="content"
        [ngModel]="post?.content"
        required
        placeholder="Post Content"
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid">Please enter post content.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">
      Save Post
    </button>
  </form>
</mat-card>
