mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
  margin-bottom: 1rem;
}

.image-preview {
  height: 5rem;
  margin-bottom: 1rem;
}

.image-preview img {
  height: 100%;
}

.save-post-button {
  margin-top: 1rem;
}
